.news {
  text-align: center;
  padding: 20px 80px 20px 80px;
  padding-top: 100px;
  background-color: #e2e2e2;
  height: 100vw;
  color: #575757;
}

.news__title {
  font-size: 30px;
  margin-top: 0;
}

.news__content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news__container {
  background-color: white;
  border: 0.5px solid #575757;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  width: 350px;
  padding: 10px;
  margin: 20px;
  text-align: left;

}

.news__container>img{
  min-height: 200px;
  max-height: 200px;
}

.news__info{
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.news--title{
  font-weight: bold;
}
.news__info > p{
  margin-top: 0;
  margin-bottom: 0
}
